---
// import { Content as Input } from '../../../../../../libs/core/src/components/sage-input/readme.md';

import { Content as InputJsx } from '../../../../../../libs/core/src/components/sage-input/stories/sage-input.stories.mdx';
// import * as InputJsx from './input.mdx';
const { frontmatter } = Astro.props;
console.log("frontmatter: ", frontmatter);

---

<h1>htye ther</h1>

<!-- <Input /> -->

<p><InputJsx /></p>
<p><InputJsx.title /></p>
