---
// import { Content as Input } from '../../../../../../libs/core/src/components/sage-input/readme.md';

import { Content as InputJsx } from '../../../../../../libs/core/src/components/sage-input/stories/sage-input.stories.mdx';
import ButtonMdx from '../../../../../../libs/core/src/components/sage-button/stories/sage-button.docs.mdx';
// import * as InputJsx from './input.mdx';
const { frontmatter } = Astro.props;
console.log("frontmatter: ", frontmatter);

---

<h1>htye ther</h1>
<ButtonMdx />

<!-- <Input /> -->

<!-- <p><InputJsx /></p>
<p><InputJsx.title /></p> -->
