---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- core -->
		<script type="module" src="http://localhost:7100/build/pine-core.esm.js"></script>
    <script nomodule src="http://localhost:7100/build/index.esm.js"></script>
    <link rel="stylesheet" href="http://localhost:7100/build/pine-core.css" />

		<!-- doc-components -->
    <script type="module" src="http://localhost:7200/build/doc-components.esm.js"></script>
    <script nomodule src="http://localhost:7200/build/index.esm.js"></script>

    <link rel="stylesheet" href="http://localhost:7200/build/doc-components.css" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	pre,
	code {
		color: #d4d4d4;
		font-size: 14px;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		line-height: 1.5;
		direction: ltr;
		white-space: pre;
		text-align: left;
		text-shadow: none;
		word-break: normal;
		word-spacing: normal;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	pre::selection,
	code::selection {
		text-shadow: none;
		background: #b3d4fc;
	}

	@media print {
		pre,
		code {
			text-shadow: none;
		}
	}

	pre {
		margin: 0.5rem 0 16px;
		padding: 0.8rem 1rem 0.9rem;
		overflow: auto;
		background: #282a36;
		border-radius: 4px;
		flex: 1;
	}

	:not(pre) > code {
		padding: 0.1em 0.3em;
		color: #db4c69;
		background: #f9f2f4;
		border-radius: 0.3em;
		white-space: pre-wrap;
	}

	body {
		max-width: 900px;
		margin: auto;
	}

</style>
