---
import AvatarMdx from '../mdx/pds-avatar.mdx'
---

<main>
  <AvatarMdx />
</main>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #333;
    font-size: 16px;
    line-height: 1.6;
  }
</style>
