name: "Notify Release to Slack"

on:
  release:
    types: [published]

jobs:
  notify-slack:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull latest
        run: git pull

      - name: Setup ENV Vars
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          RELEASE_URL="${{ github.event.release.html_url }}"
          DATE=$(date '+%B %d, %Y')

          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "RELEASE_URL=$RELEASE_URL" >> $GITHUB_ENV
          echo "DATE=$DATE" >> $GITHUB_ENV
        shell: bash

      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          channel-id: ${{ vars.SLACK_CHANNEL_NAME }}
          payload-file-path: "./.github/workflows/slack_payloads/release-info.json"

